@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assests/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px 100vw);
    height: 90vh;
    position: relative;

}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;


}

.hero {
    height: calc(100% - 100px);
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;


}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.curved-separator {
    height: 7px;
    background: radial-gradient(ellipse at center, rgb(235, 3, 80) 0%, black 80%);
}

.btn-red {
    background-color: red;
    color: white;
    padding: 10px 22px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    border: 0;
    cursor: pointer;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}



.main input {
    padding: 15px 200px 18px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}




.section {
    width: 70vw;
}

.trendingNow {
    width: 70vw;
    padding-top: 80px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: auto;

}

.slider-container {
    max-width: 70vw;
    margin: auto;
    position: relative;
    overflow: hidden;
    justify-content: space-around;
    transition: all 1s ease-out;
}

.slider {
    display: flex;
    flex-direction: row;
    transition: scroll 0.3s ease;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}



.card {

    flex: 0 0 200px;
    height: 280px;
    margin: 16px;
    border-radius: 12px;
    text-align: center;
    /* line-height: 180px; */
    /* gap: 100px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
    backface-visibility: hidden;
    transform-origin: center center;

}

.card img {
    height: 280px;
    border-radius: 12px;
    text-align: center;
    /* line-height: 180px; */
    cursor: pointer;

}

.card-badge {
    position: absolute;
    bottom: 1px;
    left: -2px;
    color: black;
    cursor: pointer;
    /* border: 1px solid white; */
    width: 100px;
    height: 100px;
}

.card-badge svg {
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}




.bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #999898;
    color: #fff;
    border: none;
    padding: 40px 15px;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.bar:hover {
    background: #555;
}

.bar.left {
    left: -30px;
}

.bar.right {
    right: -30px;
}

.reasons {
    transition: all 1s ease-out;
    width: 70vw;
    padding-top: 80px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}

.card-row {
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    max-width: 70vw;
    margin: auto;
    flex-wrap: wrap;
}

.text-card {
    flex: 1 1 20%;
    background: linear-gradient(to top, #222121, #010141);
    color: white;
    padding: 10px;
    height: 280px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(87, 85, 85, 0.2);
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    

}

.text-card .span1 {
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-card .span2 {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 300;
    color: #adaaaa;
    display: block;
    align-items: center;
    justify-content: space-between;
}


.faq h2 {
    text-align: center;
    font-size: 25px;
}

.faq {

    background: black;
    color: white;
    padding: 30px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
    max-width: 60vw;
    margin: 25px auto;
    cursor: pointer;
}



.third {
    transition: all 1s ease-out;
    padding: 30px 0;
    margin: auto;
    max-width: 60vw;
}

.third .hero2 {

    height: calc(100% - 100px);
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    color: white;
    /* position: ; */
    gap: 20px;
    padding: 0 5px;
}

.hero2 .span {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.btn-red2{
    background-color: red;
    color: white;
    padding: 10px 22px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    border: 0;
    cursor: pointer;
}

.hero-buttons2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}



.hero-buttons2 input {
    padding: 15px 200px 18px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}


footer {
    color: rgb(145, 142, 142);
    max-width: 60vw;
    margin: auto;
    padding: 35px;
}

footer .questions {
    padding: 25px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.footer .footer-item {
    display: flex;
    flex-direction: column;
}

.footer a {
    color: rgb(145, 142, 142);
    font-size: 15px;
}


@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .second {
        flex-wrap: wrap;

    }
    .first{
        flex-wrap: wrap;
    }
    
}


.footer a {
    font-size: 14px;
    /* color: white; */
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }


    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
     .hero-buttons2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}

